<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>DataHub</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter nzSelected routerLink="/welcome">
        <span nz-icon nzType="dashboard"></span>
        <span>系统概览</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/datasource">
        <span nz-icon nzType="form"></span>
        <span>数据源</span>
      </li>
      <li nz-submenu nzOpen nzTitle="数据处理" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/stream">流处理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/batch">批处理</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/udf">
        <span nz-icon nzType="form"></span>
        <span>自定义函数</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
