<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>DataHub</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter nzSelected routerLink="/welcome">
        <span nz-icon nzType="dashboard"></span>
        <span>系统概览</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/datasource">
        <span nz-icon nzType="api" nzTheme="outline"></span>
        <span>数据源</span>
      </li>
      <li nz-submenu nzOpen nzTitle="数据处理" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/stream">
            <span nz-icon nzType="node-expand" nzTheme="outline"></span><span>流处理</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/batch">
            <span nz-icon nzType="paper-clip" nzTheme="outline"></span><span>批处理</span>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/udf">
        <span nz-icon nzType="build" nzTheme="outline"></span>
        <span>自定义函数</span>
      </li>
      <li nz-submenu  nzOpen nzTitle="系统设置" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/drivers">
            <span nz-icon nzType="appstore" nzTheme="outline"></span><span>连接器</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/info">
            <span nz-icon nzType="info-circle" nzTheme="outline"></span><span>系统信息</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
      <div class="header-right">
        <nz-dropdown>
          <div class="ant-dropdown-link" nz-dropdown>
            <nz-avatar nzIcon="user" nzSize="small"></nz-avatar>
            <span class="user-name">admin</span>
          </div>
          <ul nz-menu>
            <li nz-menu-item>
              <a href="abc">个人中心</a>
            </li>
            <li nz-menu-item>
              <a href="abc">个人设置</a>
            </li>
            <li nz-menu-item>
              <a href="abc">退出登录</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
